@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="container">
   
        <div class="row">
         
            <div class="col">
            <a style="text-decoration: none;color: white" asp-action="Index" asp-controller="Category">
                <div style="border-radius: 10px 10px;opacity:90%; padding: 70px 0;text-align: center;;height: 200px;width:200px; background-color: black;">
                    <h2>Category</h2>
                </div>
            </a>
            </div>
           
        </div>
 
</div>
